body 
{
    /*width: 1200px;*/
    /*height: 800px;
    width: 100%;
    height: 100%;*/
    
    /*margin: 0 auto;*/
    background-color: #3d3d3d;
}
body::before, body::after
{
    height: 0;
}


/*------------------------------------------------------------------------------*/
.toolbar
{
    margin-right: 10px;
    float: right;
    text-align: center;
}
.toolbar ul
{
    display: block;
    overflow: hidden;
}
.toolbar li
{
    margin: auto 2px auto 2px;
    list-style: none;
    float: left;
}
.toolbar .k-button
{
    vertical-align: top;
    width: 64px;
    height: 32px;
    display: block;
    margin: auto;
}
/*------------------------------------------------------------------------------*/
.toolbarsmall
{
    margin-right: 10px;
    float: right;
    text-align: center;
}
.toolbarsmall ul
{
    display: block;
    overflow: hidden;
}
.toolbarsmall li
{
    margin: auto 1px auto 1px;
    list-style: none;
    float: left;
}
.toolbarsmall .k-button
{
    vertical-align: top;
    width: 48px;
    height: 24px;
    display: block;
    margin: -5px 0px -5px 0px;
}

.smallTlbBtn
{
    float: right;
    vertical-align: middle;
    /*width: 32px;
    height: 32px;
    display: block;*/
    margin: auto 2px;/**/
}
/*------------------------------------------------------------------------------*/
div
{
    font-size: 14px;
}
span, label
{
    color: #cccccc;
    font-size: 14px;
}
.ButtonSpan
{
    color: #f1f1f1;
    /*font-size: 14px;*/
}
.TitleSpan
{
    color: #ffffff;
    /*font-size: 22px;*/
    font-size: 1em;
    margin: auto;
    text-transform: uppercase;
}
.TitleImage 
{
    height: 54px;
    vertical-align: middle;
    margin: auto 20px ;
}
/*------------------------------------------------------------------------------*/
#preLoad {           
    /*width:100%;
    height:100%;
    background:#FFF;
    position:absolute;
    top:0;
    
    -moz-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    -webkit-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    -o-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;*/
}
#preLoad div {
    /*position:absolute;
    top: 50%;
    left: 50%;
    height:60px;
    margin-top: -30px;
    margin-left: -24px;*/
}
/*------------------------------------------------------------------------------*/
.MainMenuItem
{
    float: left;
    width: 381px;
    height: 202px;
    margin: 3px;
    padding: 5px;
    background-image: none;
    cursor: pointer;
    
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.MainMenuItem img
{
    width: 192px;
    height: 192px;
    margin-left: 20px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.MainMenuItem div
{
    display: inline-block;
}
.MainMenuItem h3
{
    display: inline-block;
    /*margin: 10px 0 0 0;
    padding: 10px 10px 10px 20px;*/
    font-size: 1em;
    max-width: 120px;
    text-transform: uppercase;
}

.k-listview: after, .MainMenuItem h3:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.k-listview
{
    border: 0;
    min-width: 0;
}
/**/


/*------------------------------------------------------------------------------*/
.OperationItem
{
    /*float: left;*/
    width: auto;
    min-width: 400px;
    height: auto;
    margin: 5px;
    padding: 5px;
    background-image: none;
    
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.OperationItem button
{
    font-size: 11px;
}

.ActionButtons button
{
    width: 50px;
}
.FButtons button
{
    width: 35px;
    height: 40px;
    color: cornflowerblue;
}
.FButtons button img
{
    height: 10px;   
}
.SpeedSlider
{
    color: Red;
}