/*
label, span, input, .k-textbox
{
    font-size: 0.7em;
}
p
{
    font-size: 0.8em;
}
.k-textbox
{
    font-size: 0.7em;
}
*/

/*------------------------------------------------------------------------------*/
#preLoad {           
    width:100%;
    height:100%;
    background:#fff;
    position:absolute;
    top:0;
    
    -moz-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    -webkit-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    -o-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
}
#preLoad div {
    position:absolute;
    top: 50%;
    left: 50%;
    height:60px;
    margin-top: -30px;
    margin-left: -24px;
}
/*------------------------------------------------------------------------------*/
div
{
    font-size: 12px;
}
span, label
{
    color: #cccccc;
    font-size: 12px;
}
.ButtonSpan
{
    color: #f1f1f1;
    /*font-size: 14px;*/
}
.TitleSpan
{
    color: #ffffff;
    /*font-size: 22px;*/
    font-size: 1em;
    margin: auto;
    text-transform: uppercase;
}
.TitleImage 
{
    height: 54px;
    vertical-align: middle;
    margin: auto 20px ;
}
/*------------------------------------------------------------------------------*/
.toolbar
{
    margin-right: 10px;
    float: right;
    text-align: center;
}
.toolbar ul
{
    display: block;
    overflow: hidden;
}
.toolbar li
{
    margin: auto 2px auto 2px;
    list-style: none;
    float: left;
}
.toolbar .k-button
{
    vertical-align: top;
    width: 64px;
    height: 32px;
    display: block;
    margin: auto;
}